Repository llcernicchiaro/node-express-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write --ignore-unknown, prettier --list-different

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --list-different --write --ignore-unknown"],
  "*.md": "prettier --list-different",
  "**/*": ["prettier --list-different --write --ignore-unknown"]
}

adding env validation with envalid and changing nodemon and tslib for tsx and tsup
  .gitignore
  .prettierignore
  nodemon.json
  package-lock.json
  package.json
  src/index.ts
  src/utils/validateEnv.ts
  tsconfig.json
Due: eslint --fix, prettier --list-different --write --ignore-unknown

adding logger with winston and morgan
  .eslintignore
  .gitignore
  .prettierignore
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --list-different --write --ignore-unknown, prettier --list-different

update modules
  README.md
  package-lock.json
  package.json
Due: prettier --list-different --write --ignore-unknown, prettier --list-different

update to typescript support, eslint, prettier, husky and lint-staged
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .prettierrc.json
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/index.ts
  src/utils/logger.ts
  tsconfig.json
Due: eslint --fix, prettier --list-different --write --ignore-unknown, prettier --list-different

updating to native env and watch mode
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --list-different --write --ignore-unknown, prettier --list-different

updating dependencies and moving to express 5
  package-lock.json
  package.json
Due: prettier --list-different --write --ignore-unknown

added engine
  package-lock.json
  package.json
Due: prettier --list-different --write --ignore-unknown

bump versions
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --list-different --write --ignore-unknown
